In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('linkedinprofiles_raw.csv')
df.head()

,id,Full name,Email,Profile url,First name,Last name,Title,Avatar,Location,Address,...,Skills,Followers,Relationship,Connected at,Industry,Mutual Count,Mutual,Mutual 1,Mutual 2,Interests
0,jia-peng-lim,Jia Peng Lim,NaN,https://www.linkedin.com/in/jia-peng-lim/,Jia,Lim,Penultimate Undergraduate Student | Singapore ...,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,NaN,...,"""""",NaN,2,NaN,Information Services,8.0,"Ming Shan Hee, Ambrose Tan",Ming Hee,Ambrose Tan,PayPal; Singapore Management University
1,jia-lin-lee-776aa0141,Jia Lin Lee,NaN,https://www.linkedin.com/in/jia-lin-lee-776aa0...,Jia,Lee,"Project Intern, McKinsey-ESG Scale-up Programme","data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Singapore,NaN,...,"""Business Case : 7, Microsoft PowerPoint : 6, ...",482.0,2,NaN,Management Consulting,15.0,"Myron Hoh, Tanushree Talwaar",Myron Hoh,Tanushree Talwaar,Unilever; JPMorgan Chase & Co.; HSBC; Melinda ...
2,rachess,Rachess Tan Huirong,NaN,https://www.linkedin.com/in/rachess/,Rachess,Huirong,Penultimate student at Singapore Management Un...,https://media-exp1.licdn.com/dms/image/C5603AQ...,Singapore,NaN,...,"""Adobe Photoshop : 5, PHP : 3, PYTHON : 3, Onl...",NaN,2,NaN,Information Technology & Services,14.0,"Xavier Lur, Zefang Tang",Xavier Lur,Zefang Tang,Google; The Walt Disney Company; SGInnovate; S...
3,awqy,Austin Woon,NaN,https://www.linkedin.com/in/awqy/,Austin,Woon,Aspiring Software Developer | Penultimate Year,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,NaN,...,"""Programming : 5, Python (Programming Language...",NaN,2,NaN,Internet,20.0,"Kelvin Chia, Wen Xiang Tang",Kelvin Chia,Wen Tang,IBM; J.P. Morgan; JPMorgan Chase & Co.; Oracle...
4,nicolaswee,Nicolas Wee,NaN,https://www.linkedin.com/in/nicolaswee/,Nicolas,Wee,Developer Student Club Lead at Google,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,NaN,...,"""Java : 12, HTML 5 : 9, CSS : 8, Information T...",669.0,2,NaN,Internet,13.0,"Rayner Tay, KELLY DUONG",Rayner Tay,Kelly Duong,Facebook; LinkedIn; Singapore Polytechnic; SMU...

### Drop columns that have too many missing values

In [3]:
print("Before dropping:",len(df.columns),"columns",'\n')
#drop columns with more than 80% of values missing
df_dropped = df.dropna(thresh = (len(df) * .2) , axis = 1)

print("List of columns dropped:")
print([col for col in df.columns.difference(df_dropped.columns)],'\n')

df = df_dropped
print("After dropping:",len(df.columns),"columns")

Before dropping: 129 columns

List of columns dropped:
['Address', 'Birthday', 'Connected at', 'Education Grade 1', 'Education Grade 2', 'Education Grade 3', 'Email', 'Messenger 1', 'Messenger 1 type', 'Messenger 2', 'Messenger 2 type', 'Messenger 3', 'Messenger 3 type', 'Organization Domain 1', 'Organization Domain 2', 'Organization Domain 3', 'Organization Domain 4', 'Organization Domain 5', 'Organization Domain 6', 'Organization Domain 7', 'Organization WWW 1', 'Organization WWW 2', 'Organization WWW 3', 'Organization WWW 4', 'Organization WWW 5', 'Organization WWW 6', 'Organization WWW 7', 'Phone 1', 'Phone 1 type', 'Phone 2', 'Phone 2 type', 'Phone 3', 'Phone 3 type', 'Twitter', 'Website 1', 'Website 2', 'Website 3']

After dropping: 92 columns

In [4]:
modes = ['Previous Arts CCA_Performance','Year_Year 2','Year_Year 1','School_School of Accountancy','School_School of Economics']
means = ['Participation in art activities','Career oriented']
df = df[df['Education 1'].str.lower().str.contains("singapore management university")]

In [5]:
#clean and map job titles
#education description get their cca, exco or no, deanlist/scholarship
df[['Education 1',
       'Education Degree 1', 'Education FOS 1', 'Education Start 1',
       'Education End 1', 'Education Description 1', 'Education 2',
       'Education Degree 2', 'Education FOS 2', 'Education Start 2',
       'Education End 2', 'Education Description 2', 'Education 3',
       'Education Degree 3', 'Education FOS 3', 'Education Start 3',
       'Education End 3', 'Education Description 3']]

,Education 1,Education Degree 1,Education FOS 1,Education Start 1,Education End 1,Education Description 1,Education 2,Education Degree 2,Education FOS 2,Education Start 2,Education End 2,Education Description 2,Education 3,Education Degree 3,Education FOS 3,Education Start 3,Education End 3,Education Description 3
0,Singapore Management University,Bachelor's degree,Information Systems,2017.0,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Singapore Management University,Bachelor of Accountancy & Business Management,NaN,2017.0,2021,- Global Impact Scholarship Award - Deloitte M...,Hwa Chong Junior College,6 GCE A'levels Distinction,BCME,2015.0,2016,#NAME?,NaN,NaN,NaN,NaN,NaN,NaN
2,Singapore Management University,Bachelor of Information System,Information Technology,2017.0,2020,Leadership Position:- Tech Executive in Ellips...,"School of Film & Media Studies, Ngee Ann Polyt...",Mass Communication,Mass Communication/Media Studies,2013.0,2016,"Specialised in: Photo Journalism, Print Journa...",NaN,NaN,NaN,NaN,NaN,NaN
3,Singapore Management University,Bachelor of Science - BS,Information Systems,2017.0,2021,• Dean's List AY 17/18 & AY 18/19• Active in H...,University of Southern California - Marshall S...,NaN,Business,2020.0,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Singapore Management University,Bachelor of Science - BS,Information Technology,2018.0,2022,NaN,Singapore Polytechnic,Diploma in Business Information Technology,Information Technology,2013.0,2016,Diploma in Business Information Technology pro...,Outram Secondary School,"'O' Levels, O Levels",NaN,2009.0,2012,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,Singapore Management University,Bachelor of Social Science,Sociology and Corporate Communications,2016.0,2020,NaN,Hanyang University,Hanyang International Summer School Program,NaN,2019.0,2019,#NAME?,Jurong Junior College,GCE A'Levels,Humanities,2014.0,2015,NaN
814,Singapore Management University,Bachelor's degree,Economics and Marketing,2016.0,2020,NaN,Peking University,Overseas Exchange Program,"Introduction in Political Economy of China, C...",2017.0,2017,Distinction in 2 modules,University of St.Gallen,Overseas Exchange Program,"Doing Business in Europe, Service Management, ...",2017.0,2017,NaN
815,Singapore Management University,Bachelor of Science - BS,"Management Information Systems, General",2016.0,2020,NaN,Esade,BBA Exchange,NaN,2019.0,2019,Fall 2019 Courses/Modules taken:BlockchainArti...,Catholic Junior College,GCE A Levels,Science,2012.0,2014,Studied for the GCE A Levels under the Science...
817,Singapore Management University,Bachelor's Degree,"Major in Information Systems, Operations Manag...",2012.0,2016,NaN,Nanyang Polytechnic,Diploma in Business Informatics (Merit),NaN,2007.0,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
818,Singapore Management University,Bachelor’s Degree,Bachelor of Business Management (Finance),2012.0,2016,Achieved Distinctions in all of the following ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Extract students who have studied Accountancy or Economics

In [6]:
df = df[~df['Education Degree 1'].isna()]
df['School_School of Accountancy'] = 0
df['School_School of Accountancy'][df['Education Degree 1'].str.lower().str.contains("accountancy")] = 1

df['School_School of Economics'] = 0
df['School_School of Economics'][df['Education Degree 1'].str.lower().str.contains("economics")] = 1

C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df['Year_Year 1'] = 0
df['Year_Year 1'][df['Education Start 1'] == 2019] = 1

df['Year_Year 2'] = 0
df['Year_Year 2'][df['Education Start 1'] == 2018] = 1

C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

#### To get an idea of their participation in art activities, we can seek out the following:
- Participated in any art CCA or activities
- Exco for any art CCA or activities

#### We can also look at their previous education descriptions to determine if they have participated in arts-related CCAs before

In [8]:
art_clubs = ['ACF','Ardiente','Artdicted','Ballare','Broadcast & Entertainment','Caderas Latinas','Chamber Choir','Chinese Orchestra','Eurhythmix','Funk Movement','Guitarissimo','INDANCITY','Indian Cultural Society','Ivory Keys','Komunitas Indonesia','Literati','Malay Language & Cultural Club','SMUSAIC','Samba Masala','SoundFoundry','StageIT','Stereometa','Symphonia','Voix']

In [9]:
#Get Arts CCAs
edu_df = df.loc[:, df.columns.str.startswith('Education Description 1')]
edu_df = edu_df[edu_df.apply(lambda r: r.str.contains('|'.join(art_clubs), case=False).any(), axis=1)]
CCA_ind = edu_df.index.tolist()

In [10]:
#Get Art activities
edu_df = df.loc[:, df.columns.str.startswith('Education Description')]
edu_df = edu_df[edu_df.apply(lambda r: r.str.contains(' art | arts ', case=False).any(), axis=1)]
Activity_ind = edu_df.index.tolist()

In [11]:
#Get Art exco/significant positions
#Assume all records here show significant achievements like exco or director for some committee so we give extra weights to that
org_ind = []
for i in range(1,4):
    org_df = df.loc[:, df.columns.str.contains('Organization '+str(i)+'|Organization Title '+str(i),regex=True)]
    org_ind += org_df[org_df.apply(lambda r: r.str.contains('|'.join(art_clubs), case=False).any(), axis=1)].index.tolist()

In [12]:
from collections import Counter
data = Counter(CCA_ind+Activity_ind+org_ind)
total_ind = [ind for ind, score in data.most_common()]
total_score = [score for ind, score in data.most_common()]

#Count those indexes, then give score based on their index, then scale from 1 to 4
df['Participation in art activities'] = 0 
df['Participation in art activities'].loc[total_ind] = total_score

C:\Users\Junrong\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

#### Get previous arts cca with performance or sculpture

In [13]:
art_list = ['orchestra','dance','choir','drama','band','ballet','theatre']
prev_df = df.loc[:, df.columns.str.contains('Education Description 2|Education Description 3')]
prev_df = prev_df[prev_df.apply(lambda r: r.str.contains('|'.join(art_list), case=False).any(), axis=1)]
prev_ind = prev_df.index.tolist()

In [14]:
data = Counter(prev_ind)
total_ind = [ind for ind, score in data.most_common()]
total_score = [score for ind, score in data.most_common()]

df['Previous Arts CCA_Performance'] = 0
df['Previous Arts CCA_Performance'].loc[total_ind] = total_score

#### Know how career oriented they are by looking at how many internships completed and time spent working there

In [15]:
#If organization title cntains "intern" then we count as 1 intern completed
car_ind = []
length_intern = []
ind_intern = []
df['Organization End 1'][df['Organization End 1'] == "PRESENT"] = "Mar-20"


for i in range(1,8):
    car_df = df.loc[:, df.columns.str.contains('Organization Title '+str(i),regex=True)]
    curr_ind = car_df[car_df.apply(lambda r: r.str.contains('intern', case=False).any(), axis=1)].index.tolist()
    car_ind += curr_ind
    
    df['Organization Start '+str(i)][df['Organization Start '+str(i)]=='2020'] = '01-20'
    df['Organization Start '+str(i)][df['Organization Start '+str(i)]=='2018'] = '01-18'
    df['Organization Start '+str(i)][df['Organization Start '+str(i)]=='2015'] = '01-15'
    df['Organization Start '+str(i)][df['Organization Start '+str(i)]=='2019'] = '01-19'
    df['Organization Start '+str(i)][df['Organization Start '+str(i)]=='2017'] = '01-17'   
    df['Organization Start '+str(i)][df['Organization Start '+str(i)]=='2016'] = '01-16'   
    df['Organization End '+str(i)][df['Organization Start '+str(i)]=='2016'] = '01-16'   
    df['Organization End '+str(i)][df['Organization End '+str(i)]=='2020'] = '01-20'
    df['Organization End '+str(i)][df['Organization End '+str(i)]=='2018'] = '01-18'
    df['Organization End '+str(i)][df['Organization End '+str(i)]=='2015'] = '01-15'
    df['Organization End '+str(i)][df['Organization End '+str(i)]=='2019'] = '01-19'
    df['Organization End '+str(i)][df['Organization End '+str(i)]=='2017'] = '01-17'  
    df['Organization End '+str(i)][df['Organization Start '+str(i)]=='2016'] = '01-16'  
    df['Organization End '+str(i)][df['Organization End '+str(i)]=='2016'] = '01-16'  
    df['Organization End '+str(i)][df['Organization Start '+str(i)]=='2012'] = '01-12'  
    df['Organization End '+str(i)][df['Organization End '+str(i)]=='2012'] = '01-12'  
    
    ind_intern.append(curr_ind)
    length_intern.append((df.loc[curr_ind]['Organization Start '+str(i)].fillna('0-').tolist(),df.loc[curr_ind]['Organization End '+str(i)].fillna('0-').tolist()))

C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Junrong\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
data = Counter(car_ind)
total_ind = [ind for ind, score in data.most_common()]
total_score = [score for ind, score in data.most_common()]

df['Number of internships'] = 0
df['Number of internships'].loc[total_ind] = total_score

In [17]:
#Time spent working there
#Scale value

month_dict = {'Jan':1,
             'Feb':2,
             'Mar':3,
             'Apr':4,
             'May':5,
             'Jun':6,
             'Jul':7,
             'Aug':8,
             'Sep':9,
             'Oct':10,
             'Nov':11,
             'Dec':12,
             'less than a year': 6,
             'PRESENT':3,
             '0' : 0,
             '01':1,
             '2016':0,
             '2014':0,
             '2012':0,
             '2013':0,
             '2011':0,
             '2010':0}

duration_intern = [month_dict[str(in_date).split('-')[0]] - month_dict[str(tup[1][ind]).split('-')[0]] for tup in length_intern for ind,in_date in enumerate(tup[0]) ]

In [18]:
ind_intern = [x for i in ind_intern for x in i]
duration_df = pd.DataFrame([ind_intern,[abs(d) for d in duration_intern]]).T
duration_df.columns = ['index','month']
duration_df = duration_df.groupby('index').agg({'month':'sum'}).reset_index()

In [19]:
df['Length of intern'] = 0
df['Length of intern'].loc[duration_df['index'].tolist()] = duration_df['month'].tolist()

#### Scale all relevant columns

In [20]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
df['Participation in art activities'] = scaler.fit_transform(df['Participation in art activities'].values.reshape(-1, 1))

scaler = MinMaxScaler(feature_range=(0,1.5))
df['Number of internships'] = scaler.fit_transform(df['Number of internships'].values.reshape(-1, 1)) #0 to 3
df['Length of intern'] = scaler.fit_transform(df['Length of intern'].values.reshape(-1, 1)) #0 to 3

##### Get a df with all relevant columns

In [21]:
df['Career oriented'] = df['Length of intern'] + df['Number of internships']
df.to_csv('Linkedin_features_extracted.csv',index=False)

In [22]:
df

,id,Full name,Profile url,First name,Last name,Title,Avatar,Location,Summary,Organization 1,...,Interests,School_School of Accountancy,School_School of Economics,Year_Year 1,Year_Year 2,Participation in art activities,Previous Arts CCA_Performance,Number of internships,Length of intern,Career oriented
0,jia-peng-lim,Jia Peng Lim,https://www.linkedin.com/in/jia-peng-lim/,Jia,Lim,Penultimate Undergraduate Student | Singapore ...,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,"An avid reader, learner, and problem-solver. C...",Singapore Management University,...,PayPal; Singapore Management University,0,0,0,0,0.0,0,0.214286,0.140625,0.354911
1,jia-lin-lee-776aa0141,Jia Lin Lee,https://www.linkedin.com/in/jia-lin-lee-776aa0...,Jia,Lee,"Project Intern, McKinsey-ESG Scale-up Programme","data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Singapore,Driven to excel in management consultancy for ...,McKinsey & Company,...,Unilever; JPMorgan Chase & Co.; HSBC; Melinda ...,1,0,0,0,0.0,0,0.428571,0.562500,0.991071
2,rachess,Rachess Tan Huirong,https://www.linkedin.com/in/rachess/,Rachess,Huirong,Penultimate student at Singapore Management Un...,https://media-exp1.licdn.com/dms/image/C5603AQ...,Singapore,Hailing from the School of Information System ...,Singapore Management University,...,Google; The Walt Disney Company; SGInnovate; S...,0,0,0,0,0.0,0,0.428571,0.421875,0.850446
3,awqy,Austin Woon,https://www.linkedin.com/in/awqy/,Austin,Woon,Aspiring Software Developer | Penultimate Year,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,Hungry to make an impact in the tech-world and...,Singapore Management University,...,IBM; J.P. Morgan; JPMorgan Chase & Co.; Oracle...,0,0,0,0,0.0,0,0.428571,0.234375,0.662946
4,nicolaswee,Nicolas Wee,https://www.linkedin.com/in/nicolaswee/,Nicolas,Wee,Developer Student Club Lead at Google,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,"Striving for the better good of society, I hav...",Google,...,Facebook; LinkedIn; Singapore Polytechnic; SMU...,0,0,0,1,0.0,0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,kelda-wong-97309a141,Kelda Wong,https://www.linkedin.com/in/kelda-wong-97309a141/,Kelda,Wong,Senior student at Singapore Management University,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,I am a senior student pursuing a Bachelor of S...,Shopee,...,The Wall Street Journal; Accenture; Google; Og...,0,0,0,0,0.0,0,0.428571,0.375000,0.803571
814,xueni-chen-19a906151,Xueni Chen,https://www.linkedin.com/in/xueni-chen-19a906151/,Xueni,Chen,Final Year Student at Singapore Management Uni...,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,"I am Xueni, a final year student double majori...",Autodesk,...,Harvard Business Review; Arrow Electronics; Pr...,0,0,0,0,0.0,0,0.857143,0.421875,1.279018
815,davidchuaws,David Chua,https://www.linkedin.com/in/davidchuaws/,David,Chua,Project Management Intern at Ninja Van,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,Currently a final year student at Singapore Ma...,Ninja Van Internship,...,J.P. Morgan; Simon Sinek; Goldman Sachs; Amazo...,0,0,0,0,0.0,0,0.428571,0.140625,0.569196
817,gerald-ng-ghim-yap-2a3aa682,Gerald Ng Ghim Yap,https://www.linkedin.com/in/gerald-ng-ghim-yap...,Gerald,Ghim Yap,Manager at A company,https://media-exp1.licdn.com/dms/image/C5103AQ...,Singapore,Gerald has obtained a Bachelor of Science (Inf...,A company,...,Cisco; Oracle; Kwantum Leap: Finishing Touch; ...,0,0,0,0,0.0,0,0.428571,0.187500,0.616071
818,yqcheong,Yong Qiang,https://www.linkedin.com/in/yqcheong/,Yong,Cheong,Institutional Sales Trader at Goldman Sachs,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Singapore,NaN,Goldman Sachs,...,Procter & Gamble; Private Wealth Management; N...,0,0,0,0,0.0,0,0.428571,0.281250,0.709821